/* Estilos generales */
body {
  font-family: Arial, sans-serif;
}
/* Estilos para el navbar */
nav {
  background-color: #000016;
  padding: 10px;
  color: white;
  display: flex;
  justify-content: space-around;
}

nav a {
  text-align: center;
  color: white;
  text-decoration: none;
  padding: 5px;
}

nav a:hover,
.logout-button:hover {
  color: #6f5e44;
}

.logout-button {
  background: none;
  color: #fff;
  border: none;
  cursor: pointer;
  font-size: 14px;
  transition: background-color 0.3s;
}

/* Estilos para el formulario de construcción */
.build-section {
  margin-bottom: 20px;
}

.build-section label {
  font-weight: bold;
  margin-bottom: 5px;
  display: block;
}

.build-section input,
.build-section select {
  width: 100%;
  padding: 8px;
  margin-bottom: 10px;
  box-sizing: border-box;
}

.build-section button {
  background-color: #333e56;
  color: white;
  padding: 5px;
  cursor: pointer;
  font-size: 14px;
  font-weight: bold;
  transition: background-color 0.3s;
}

.build-section button:hover {
  background-color: #1a232d; 
  color: #fff; 
}

/* Estilos para la vista previa del formulario */
.preview-section {
  margin-top: 20px;
}

.preview-section button {
  font-size: 14px;
  font-weight: bold;
  width: 150px;
  height: 35px;
  background-color: rgb(190, 37, 37);
  color: white;
  padding: 8px;
  cursor: pointer;
  transition: background-color 0.3s; 
  margin-bottom: 20px;
}

.preview-section button:hover {
  background-color: rgb(134, 0, 0);
}

.save-form {
  font-size: 14px;
  font-weight: bold;
  width: 160px;
  height: 35px;
  background-color: blue;
  color: white;
  padding: 8px;
  cursor: pointer;
  transition: background-color 0.3s; 
}

.save-form:hover {
  background-color: rgb(0, 0, 164);
}

/* Estilos para las opciones en el formulario de construcción */
.build-section ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.build-section li {
  margin-bottom: 5px;
}

.tittle-form {
  margin-top: 10px;
  padding: 4px;
  text-align: center;
  border-color: rgb(128, 128, 128);
  background: rgb(128, 128, 128);
}

.add-question {
  font-size: 14px;
  font-weight: bold;
  width: 150px;
  height: 35px;
  background-color: rgb(14, 134, 32);
  color: white;
  padding: 8px;
  cursor: pointer;
  transition: background-color 0.3s; 
}

/* Estilo cuando el mouse está sobre el botón */
.add-question:hover {
  background-color: rgb(0, 102, 15);
  color: #fff;
}

/* Estilos para el evio del form */
.answer_form {
  text-align: center;
}

.send-form {
  font-size: 14px;
  font-weight: bold;
  width: 150px;
  height: 35px;
  padding: 8px;
  cursor: pointer;
  transition: background-color 0.3s;
}

/* Estilo por defecto */
.send-form {
  background-color: rgb(18, 97, 29);
  color: white;
}

/* Estilo cuando el mouse está sobre el botón */
.send-form:hover {
  background-color: rgb(0, 140, 40);
  color: #fff;
}

/* Estilo cuando el botón está deshabilitado */
.send-form:disabled {
  background-color: rgba(14, 80, 23, 0.5); 
  color: rgba(255, 255, 255, 0.5); 
  cursor:auto;
}

/* Estilo del contenedor del formulario */
.form-field-container {
  margin-top: 15px;
}

/* Estilo de la etiqueta de la pregunta */
.form-label {
  font-weight: bold;
  margin-bottom: 5px; 
}

/* Estilo de los campos de entrada */
.form-input {
  width: 100%;
  padding: 8px;
  box-sizing: border-box;
  margin-bottom: 5px;
}

/* Estilo del campo de archivo */
.form-file-input {
  margin-top: 5px;
}

/* Estilo del campo de selección múltiple */
.form-select {
  width: 100%;
  padding: 8px;
  box-sizing: border-box;
  margin-bottom: 10px;
}

/*Estilos de login*/
.login {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 80vh;
}

/* Estilos de login */
.google-button {
  display: flex;
  align-items: center; 
  background-color: #4285f4; 
  color: #ffffff;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 5px;
  margin-top: 20px;
}

.google-button:hover {
  background-color: #3c78d8;
}

.google-icon {
  width: 24px;
  height: 24px;
  margin-right: 10px;
}

.google-text {
  margin: 0;
}

/*Reports view*/
.form-list {
  list-style: none;
  padding: 0;
}

.form-item {
  border: 1px solid #ddd;
  padding: 10px;
  margin-bottom: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.form-buttons button {
  font-size: 14px;
  font-weight: bold;
  margin-left: 10px;
  padding: 8px 12px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out ease-in-out;
}

/* Estilo base para los botones */
.btn-delete {
  background-color: #dc3545;
  color: white;
}

.btn-show {
  background-color: #007bff;
  color: white;
}

.btn-link {
  background-color: #17a2b8;
  color: white;
}

/* Efecto hover para todos los botones */
.form-buttons button:hover {
  filter: brightness(90%);
}

/* Estilos para el modal */
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
  background-color: #fefefe;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}

.modal-content li {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 15px;
  color: #333;
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

/* Estilos para la tabla de respuestas */
.responses-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

.responses-table th,
.responses-table td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

.responses-table th {
  background-color: #f2f2f2;
}

.responses-table button {
  font-size: 14px;
  font-weight: bold;
  background-color: #28a745;
  color: white;
  padding: 8px 12px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out ease-in-out;
}

.responses-table button:hover {
  background-color: #218838;
  filter: brightness(90%);
}


/* Estilos para el modal */
.modal {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
}

.modal-content h3 {
  text-align: center;
}

.modal-content {
  position: relative;
  background-color: #fefefe;
  padding: 20px;
  border: 1px solid #888;
  max-width: 80%;
}

.modal-content ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.modal-content button.close-button {
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: red;
  color: white;
  padding: 10px 15px;
  font-size: 14px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s;
}

.modal-content button.close-button:hover {
  background-color: darkred;
}

/* Estilos para el modal del enlace report */
.report-modal {
  display: block;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
}

.report-modal-content {
  background-color: #fefefe;
  margin: 10% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  position: relative;
}

.report-modal-close {
  background-color: red;
  color: #fff;
  padding: 10px 15px;
  cursor: pointer;
  font-size: 14px;
  font-weight: bold;
  position: absolute;
  top: 10px;
  right: 15px;
  transition: background-color 0.3s;
}

.report-modal-close:hover,
.report-modal-close:focus {
  background-color: darkred;
}