/* Estilos generales */
body {
  font-family: Arial, sans-serif;
}
/* Estilos para el navbar */
nav {
  background-color: #000016;
  padding: 10px;
  color: white;
  display: flex;
  justify-content: space-around;
}

nav a {
  text-align: center;
  color: white;
  text-decoration: none;
  padding: 5px;
}

nav a:hover,
.logout-button:hover {
  color: #6f5e44;
}

.logout-button {
  background: none;
  color: #fff; /* Color del texto del botón */
  border: none;
  cursor: pointer;
  font-size: 14px;
}

/* Estilos para el formulario de construcción */
.build-section {
  margin-bottom: 20px;
}

.build-section label {
  font-weight: bold;
  margin-bottom: 5px;
  display: block;
}

.build-section input,
.build-section select {
  width: 100%;
  padding: 8px;
  margin-bottom: 10px;
  box-sizing: border-box;
}

.build-section button {
  background-color: #283246;
  color: white;
  padding: 10px;
  border: none;
  cursor: pointer;
}

/* Estilos para la vista previa del formulario */
.preview-section {
  margin-top: 20px;
}

.preview-section button {
  width: 150px;
  height: 35px;
  background-color: #dc3545;
  color: white;
  padding: 8px;
  border: none;
  cursor: pointer;
  margin-bottom: 20px;
}

.save-form {
  width: 150px;
  height: 35px;
  background-color: blue;
  color: white;
  padding: 8px;
  cursor: pointer;
}

/* Estilos para las opciones en el formulario de construcción */
.build-section ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.build-section li {
  margin-bottom: 5px;
}

.tittle-form {
  margin-top: 10px;
  padding: 4px;
  text-align: center;
  border-color: rgb(128, 128, 128);
  background: rgb(128, 128, 128);
}

.answer_form {
  text-align: center;
}

/* Estilo del contenedor del formulario */
.form-field-container {
  margin-bottom: 15px; /* Espacio entre cada campo del formulario */
}

/* Estilo de la etiqueta de la pregunta */
.form-label {
  font-weight: bold;
  margin-bottom: 5px; /* Espacio entre la etiqueta y el campo de entrada */
}

/* Estilo de los campos de entrada */
.form-input {
  width: 100%; /* O ajusta el ancho según tus necesidades */
  padding: 8px;
  box-sizing: border-box; /* Evita que el padding afecte al ancho total */
  margin-bottom: 10px; /* Espacio inferior entre los diferentes tipos de campos */
}

/* Estilo del campo de archivo */
.form-file-input {
  margin-top: 5px; /* Espacio entre la etiqueta y el campo de archivo */
}

/* Estilo del campo de selección múltiple */
.form-select {
  width: 100%;
  padding: 8px;
  box-sizing: border-box;
  margin-bottom: 10px;
}

/*Estilos de login*/
.login {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 80vh; /* Ajusta la altura al 100% de la altura de la ventana */
}

/* Estilos de login */
.google-button {
  display: flex;
  align-items: center; /* Centra los elementos horizontalmente */
  background-color: #4285f4; /* Color principal de Google */
  color: #ffffff; /* Color del texto */
  border: none;
  padding: 10px 20px; /* Ajusta el padding según sea necesario */
  cursor: pointer;
  border-radius: 5px;
  margin-top: 20px; /* Agrega un margen superior si es necesario */
}

.google-button:hover {
  background-color: #3c78d8; /* Cambia el color al pasar el ratón */
}

.google-icon {
  width: 24px; /* Ajusta el ancho del icono según sea necesario */
  height: 24px; /* Ajusta la altura del icono según sea necesario */
  margin-right: 10px; /* Espacio entre el icono y el texto */
}

.google-text {
  margin: 0; /* Elimina el margen por defecto del párrafo */
}

/*Reports view*/
.form-list {
  list-style: none;
  padding: 0;
}

.form-item {
  border: 1px solid #ddd;
  padding: 10px;
  margin-bottom: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.form-buttons button {
  margin-left: 10px;
}

/* Estilos para el modal */
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
  background-color: #fefefe;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

/* Estilos para la tabla de respuestas */
.responses-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

.responses-table th,
.responses-table td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

.responses-table th {
  background-color: #f2f2f2;
}

/* Estilos para el modal */
.modal {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
}

.modal-content h3 {
  text-align: center;
}

.modal-content {
  position: relative;
  background-color: #fefefe;
  padding: 20px;
  border: 1px solid #888;
  max-width: 80%;
}

.modal-content ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.modal-content button.close-button {
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: red;
  color: white;
  border: none;
  padding: 10px 15px;
  cursor: pointer;
}

.modal-content button.close-button:hover {
  background-color: darkred;
}
